<h1>Edit <%= @block.name %></h1>

<form method="POST" action="/<%= @block.user_id %>/blocks/<%= @block.id %>">
<input type="hidden" name="_method" value="PATCH"

    <label>Block Name: </label><input type="text" name="block[name]" value="<%= @block.name %>">
    <p>Choose the type of donation you want:</p>
    <label>Highest Previous Contribution</label><input type="radio" id="hpc" name="block[donation_type]" value="HighestPreviousContribution" <%= 'checked' if @block.donation_type == "HighestPreviousContribution" %>>
    <label>Latest Donation Amount</label><input type="radio" id="lda" name="block[donation_type]" value="LatestDonationAmount" <%= 'checked' if @block.donation_type == "LatestDonationAmount" %>>

    <input type="submit" value="submit">

</form>