<h1>Your Blocks</h1>

<a href="/<%= session[:user_id] %>/blocks/new">New Block</a>

<table>
<% @blocks.each do |block| %>

    <tr>
        <td><%= block.name %></td>
        <td><a href="/<%= block.user_id %>/blocks/<%= block.id %>">Show</td>
        <td><a href="/<%= block.user_id %>/blocks/<%= block.id %>/edit">Edit</td>
        <td><form method="POST" action="/<%= block.user_id %>/blocks/<%= block.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
            </form></td>
    </tr>


<% end %>
</table>