<h2><%= @block.name %></h2>
<p><a href="/<%= @block.user_id %>/blocks/<%= @block.id %>/edit">Edit Block</a> || <a href="/<%= @block.user_id %>/blocks/<%= @block.id %>/buttons/new">Add Button</a></p>
<p>Donation Type: <%= @block.donation_type.split(/(?=[A-Z])/).join(" ") %></p>
<table>
    <th>Multiplier</th>
    <th>Default</th>
    <th>Liquid Output</th>


    <% @block.buttons.each do |button| %>
    <tr>
        <td><%= button.multiplier %></td>
        <td><%= button.default %></td>
        <td>{{ <%= @block.donation_type %> | times: <%= button.multiplier %> | default: <%= button.default %> }}</td>
        <td><a href="/<%= @block.user_id %>/blocks/<%= @block.id %>/buttons/<%= button.id %>/edit">Edit</a></td>
        <td><form method="POST" action="/<%= @block.user_id %>/blocks/<%= @block.id %>/buttons/<%= button.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
            </form></td>
    </tr>
    <% end %>

<table>
