<h1><%= @block.name %></h1>
<p><a href="/<%= @block.user_id %>/blocks/<%= @block.id %>/edit">Edit Block</a></p>
<p><a href="/<%= @block.user_id %>/blocks/<%= @block.id %>/buttons/new">Add Button</a></p>
<p>Donation Type: <%= @block.donation_type %></p>
<table>
    <th>Multiplier</th>
    <th>Default</th>


    <% @block.buttons.each do |button| %>
    <tr>
        <td><%= button.multiplier %></td>
        <td><%= button.default %></td>
        <td><a href="/<%= @block.user_id %>/blocks/<%= @block.id %>/buttons/<%= button.id %>/edit">Edit</a>
        <td><form method="POST" action="/<%= @block.user_id %>/blocks/<%= @block.id %>/buttons/<%= button.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
            </form></td>
    </tr>
    <% end %>

<table>

<h3>Your Liquid Output</h3>
<%= @liquid %>